application/bin/symfony
/vendor
/node_modules
/dist
/build
.*
*.iml
*.log
!.env
!.git*
!.editorconfig
!.phpspec
!.env.dist
!.coveralls.yml
!.phplint.yml
!.scrutinizer.yml
!.styleci.yml
!.travis.yml

###> friends-of-behat/symfony-extension ###
/behat.yml
###< friends-of-behat/symfony-extension ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
