<!DOCTYPE html>
<html itemscope="" itemtype="https://schema.org/WebPage" lang="en-GB">
  <head>
    <title>{{ htmlWebpackPlugin.options.title }}</title>
  </head>
  <body>
  <div id="scuba-diving"></div>
  </body>
</html>
